/* Adjust vertical alignment for larger screens */
@media (min-width: 768px) {
  .flex-1 {
    justify-content: flex-start; /* Align items to the top */
    padding-top: 2rem; /* Add some space from the top */
  }
}

/* Fade-in animation for F, D, P */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

/* Slide-in animation for full forms */
@keyframes slideInLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 1s ease-in-out forwards;
}

/* Animation for letters F, D, P */
@keyframes fadeInLetter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeInLetter 1s ease-in-out forwards;
}
