@font-face {
    font-family: 'Sans';
    src: url('../src/assets/Fonts/Web Fonts/JUST\ Sans\ Bold.woff.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply it globally */
  body {
    font-family: 'Sans', sans-serif;
  }
  