@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
}


/* Specific Font Class */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* In your CSS file */
.heading {
  @apply text-2xl sm:text-3xl lg:text-4xl xl:text-5xl font-bold text-[#FFC80E] text-center mb-4;
}

/* Glow Border Animation */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 200, 14, 0.7), 0 0 20px rgba(255, 200, 14, 0.7);
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 200, 14, 1), 0 0 60px rgba(255, 200, 14, 1);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 200, 14, 0.7), 0 0 20px rgba(255, 200, 14, 0.7);
  }
}

/* Apply the glow effect to buttons or any other element */
.glow-border {
  border: 2px solid rgba(255, 200, 14, 0.8);
  padding: 10px;
  border-radius: 30px;
  animation: glow 1.5s ease-in-out infinite;
}

/* add the text shine effct */
/* Shine Effect Animation */
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

/* Apply Shine Effect to Button and Heading */
/* Shine Effect Animation */
@keyframes shine {
  0% {
    background-position: -100%;
  }
  60% {
    background-position: 100%;
  }
  100% {
    background-position: 100%;
  }
}

/* Apply Shine Effect to the Heading */
.heading {
  display: inline-block;
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #f7e6a0 0%, #ffcc00 50%, #f7e6a0 100%); /* Very light satin gold to strong gold */
  background-size: 200% 100%;
  background-position: 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  font-weight: 600;
  font-size: 2rem; /* Adjust font size as needed */
  text-decoration: none;
  white-space: nowrap;
}

